dj-database-url==0.4.0
Django==1.9.1
django-gunicorn==0.1.1
git+git://github.com/django-haystack/django-haystack.git#egg=django-haystack
django-markupfield==1.4.0
gunicorn==19.4.5
Markdown==2.6.5
psycopg2==2.6.1
wheel==0.24.0
Whoosh==2.7.0
whitenoise==2.0.6
conceptpower-api
celery
django-grappelli
