{% extends 'base_site.html' %}

{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="h2">{{ note.title }}
        <span class="btn-group">
        {% if note.external_note  %}
            {% if note.external_note.updated >= note.updated %}
            <span class="btn btn-md">
                <span class="glyphicon glyphicon-ok" style="color: blue;"></span>
            </span>
            {% else %}
            <a href="{% url "evernote-sync-note" note.id %}?last={% url "evernote-list-notes" note.external_note.part_of.external_id %}"
                class="btn btn-md"
                style="color: orange;">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {% endif %}
        {% else %}
            <a href="{% url "evernote-sync-note" note.id %}" class="btn btn-md">
                <span class="glyphicon glyphicon-plus" style="color: green;"></span>
            </a>
        {% endif %}
        </span>
    </div>
    <div class="text-warning">Created {{ note.created }}; last updated {{ note.updated }}</div>
    {% if note.source_url %}<div class="text-muted">{{ note.source_url }}</div>{% endif %}
    <div>
        {{ note.content|safe }}
    </div>

</div>
{% endblock %}
