{% extends 'base_site.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>What is the Genecology Project?</h1>
            <p>
                The Genecology Project is an open-note history of the field of ecological genetics, focusing primarily on the Ecology
                Genetics Group in Britain. Ecological genetics is the study of evolution in action: it shows us how populations of plants
                and animals are evolving in the pastures, forests, waterways, and neighborhoods where we live. As a scientific field,
                ecological genetics hasn't been around forever. The story of ecological genetics&mdash;where it came from, how it got here,
                and where it's going now&mdash;is also a story about how we as a society make sense of living world.
            </p>
            <p>
                In contrast to classical genetics, in which scientists study patterns of heredity in controlled populations in a laboratory,
                scientists who work in the field of ecological genetics are interested in how <strong>wild</strong> populations
                of plants and animals change over time. That is, they study the processes of evolution <strong>as it happens</strong>.
            </p>
            <p>
                Many of the basic principles of evolution and heredity have been around since the middle of the 19th century, but ecological
                genetics is actually a relatively new field. The term "ecological genetics" was not in widespread use until the 1960s. Up until
                the 1950s most scientists did not think that evolutionary change could occur quickly enough to be investigated in "real time,"
                except in carefully controlled laboratory experiments. After the 1950s, however, the new field of ecological genetics became
                an increasingly popular area of research for biologists who wanted to study evolution in natural populations
                <strong><em>in action</em></strong>. It just so happens that much of that excitement and activity took place in Britain,
                and so that is where our investigation begins. But ecological genetics did not come out of nowhere: the roots of ecological
                genetics can be traced to the work of scientists in Scandinavia, Europe, Russia, and North America dating back to the 1800s.
            </p>
            <p>
                Today, research in ecological genetics continues to generate new insights into how organisms evolve. The results of ecological
                genetics research informs our decisions about what species need special protection, and what we can do to protect them. It also
                gives us valuable information about how to improve agricultural practices. Most importantly, ecological genetics research gives
                us a deeper understanding of the complex processes and interactions that produce and maintain the rich diversity of plants
                and animals on this planet.
            </p>
            <p>
                Our goal is to document, narrate, and contextualize the emergence and development of ecological genetics, starting in Britain.
                Where did ecological genetics come from? Who studied ecological genetics, and where did they work? How did the questions,
                methods, and theories of ecological genetics change over time? What are ecological geneticists doing today, and how is their
                work shaped by the history of their field? Most importantly, what can we learn about the changing ways in which we as a society
                make sense of the natural world?
            </p>
            <h4>Open-note history</h4>
            <p>
                Research in the history of science usually takes place deep in the archives, in libraries, and in academic offices. It's hard work:
                it takes countless hours of searching for sources, a mountain of reading and note-taking, and dozens of revisions to produce a
                scholarly monograph. Every shred of evidence must be vetted, every fact triple-checked. It can be several years (sometimes a
                decade or more) before the results of an historical research project make their way into public view, usually in the form of a
                long and technical book written for an academic audience. While writing technical books is an important part of the scholarly
                profession, far less of an emphasis is placed on making the results of historical research accessible to broader audiences.
            </p>
            <p>
                Open-note history is an experiment that stands that procedure on its head. As this project proceeds, we'll be recording the bits
                and traces that we encounter as we go along. To the greatest extent possible (sometimes copyright gets in the way) we'll post our
                <a href="#">primary sources materials</a>, like oral history interviews and bits from the archives.
                As we encounter new people, organisms, experiments, and locales we'll create <a href="#">notes</a>  and <a href="#">profiles</a> that
                we'll progressively revise and expand and refine as we gather more information. So most of the pages that you will find here are
                incomplete, and relatively unpolished. Look for the <i class="fa fa-code-fork"></i> icon to see how notes and pages have changed.
            </p>
            <p>
                Why go to all of this trouble? Well, it really isn't that much trouble: these are the kinds of things that we'd be doing anyway in
                the course of our research; we're simply making the process public. Our foremost objective is to make the history of ecological
                genetics accessible to as broad of an audience as possible. We have other some hopes and aspirations that we'll hold close to our
                breast for now. But we'll post more about our motives as the project unfolds.
            </p>
            <h4>Please contribute!</h4>
            <p>
                This project would not be possible without the generosity of others. If you are an ecological geneticist, an historian of science,
                or are simply fascinated by how scientists investigate evolutionary change in the natural world, we want to hear from you. Please
                contact <a href="mailto:erick.peirson@asu.edu">Erick Peirson (erick.peirson@asu.edu)</a>.
            </p>

            <hr />
            <div class="row">
                <div class="col-sm-2">
                    <img src="{% static 'images/nsf1.gif' %}" class="img-responsive" />
                </div>
                <div class="col-sm-10">
			        This material is based upon work supported by the National Science Foundation Graduate Research
                    Fellowship Program under Grant No. 2011131209, and NSF Doctoral Dissertation Research Improvement
                    Grant No. 1256752.
                </div>
            </div>
			<!-- <img src="/static/browser/images/logos/gpsa_logo.gif" width="70" style="float:left;margin-right: 5px;" />
			Funded in part by the ASU Graduate and Professional Students Association, under a Graduate Research Support grant, "Models of Phenotypic Plasticity in Ecology," and under multiple conference and research travel grants.</p> -->


        </div>
    </div>
</div>

{% endblock %}
