{% load staticfiles %}

{% load i18n %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}" style="padding: 5px; padding-left: 10px; padding-right: 10px;">
                <img alt="Brand" src="{% static 'images/brand.png' %}" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{% if active == 'home' %} class="active"{% endif %}><a href="{% url 'home' %}">Home{% if active == 'home' %}  <span class="sr-only">(current)</span>{% endif %}</a></li>
                <li{% if active == 'blog' %} class="active"{% endif %}><a href="{% url 'blog' %}">Blog{% if active == 'blog' %}  <span class="sr-only">(current)</span>{% endif %}</a></li>
                <li{% if active == 'notes' %} class="active"{% endif %}><a href="{% url 'notes' %}">Research Notes{% if active == 'notes' %}  <span class="sr-only">(current)</span>{% endif %}</a></li>
                <li{% if active == 'topics' %} class="active"{% endif %}><a href="{% url 'topics' %}">Topics{% if active == 'topics' %}  <span class="sr-only">(current)</span>{% endif %}</a></li>
                <li class="dropdown {% if active == 'profiles' %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiles <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "people" %}">People</a></li>
                        <li><a href="{% url "organisms" %}">Organisms</a></li>
                        <li><a href="{% url "institutions" %}">Institutions</a></li>
                        <li><a href="{% url "places" %}">Places</a></li>
                    </ul>
                </li>
                <!-- <li{% if active == 'methods' %} class="active"{% endif %}><a href="{% url 'methods' %}">Methods{% if active == 'methods' %}  <span class="sr-only">(current)</span>{% endif %}</a></li> -->
                <li{% if active == 'about' %} class="active"{% endif %}><a href="{% url 'about' %}">About{% if active == 'about' %}  <span class="sr-only">(current)</span>{% endif %}</a></li>
                <li{% if active == 'contribute' %} class="active"{% endif %}><a href="{% url 'contribute' %}">Contribute{% if active == 'contribute' %}  <span class="sr-only">(current)</span>{% endif %}</a></li>
                <li>
                    {% if user.is_active %}
                    <a class="btn btn-md" href="{% url "evernote-list-notebooks" %}">
                        <span class="fa fa-list"></span>
                    </a>
                    {% endif %}
                </li>
            </ul>

            <form method="get" action="{% url 'search' %}" class="navbar-form navbar-right" role="search">
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.q.errors }}

                        {{ form.q }}
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
            </form>

        </div>
    </div>
</nav>
