{% extends 'base_site.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="h3">{{ title }} <span class="pull-right"><i data-toggle="modal" data-target="#historyModal" class="btn btn-primary fa fa-code-fork"></i></span></div>
            {% if subtitle %}<div class="h3">{{ subtitle }}</div>{% endif %}
            <p class="text-muted">{{ note.creator.full_name }} | Created {{ note.created }}; last updated {{ date }}{% if user.is_staff %} <a href="{% url "admin:blog_note_change" note.id %}" aria-label="Edit">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
</a>{% endif %}</p>
            {% if source_url %}<p class="text-warning"><a href="{{ source_url }}" target="_blank">{{ source_url|truncatechars:50 }}</a></p>{% endif %}
            {% if note.about.count > 0 %}
                <div class="h5">This note is about...</div>
                <p>
                    {% for concept in note.about.all %}
                        {% if concept.profile %}
                        <a href="{% url "conceptprofile" concept.profile.id %}" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ concept.profile.summary }}" class="label label-primary">{{ concept.label }}</a>
                        {% else %}
                        <span class="label label-default">{{ concept.label }}</span>
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <div class="btn-group">
                {% for tag in note.tags.all %}
                <a href="{% url 'tag' tag.id %}" class="btn btn-sm"><code><i class="fa fa-tag" aria-hidden="true"></i> {{ tag.slug }}</code></a>
                {% endfor %}

            </div>

            <div>{{ body|safe }}</div>

        </div>
        <div class="col-sm-4">
            {% with note as instance %}
            {% include "related_content.html" %}
            {% endwith %}
        </div>
    </div>
</div>

{% include "history_modal.html" %}

{% endblock %}
