{% extends 'base_site.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1><code>{{tag.slug}}</code>: {{ tag.title }}</h1>
            <div>{{ tag.description }}</div>

            {% for post in posts %}
            <div class="blog-post-summary">
                <h3>{{ post.title }}</h3>
                <p class="text-muted">{{ post.creator.full_name }} | {{ post.created }}</p>
                <p>{{ post.summary }}</p>
                <div>
                    {% for tag in post.tags.all %}
                    <code><a href="{% url 'tag' tag.id %}">{{ tag.slug }}</a></code>
                    {% endfor %}
                </div>
                <p class="text-primary pull-right">
                    <a href="{% url 'post' post.id %}">Read More</a>
                </p>

            </div>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <img class="img-responsive img-rounded" src="{% static 'images/aber_compressed.jpg' %}" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
